/*
Theme Name: GranBarbosa
Theme URI: http://99ninjas.co
Author: 99ninjas
Author URI: http://99ninjas.co
Description: GranBarbosa
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: tilemax

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.header-align-center #logo {
    width: 45% !important;
}

@media (max-width: 425px) {
    .header-align-center #logo {
        width: 100% !important;
    }

    .header-align-center .main-header #logo a img {
        width: 100%;
    }
}



.quem-somos-areas-especialidade h2,
.quem-somos-areas-especialidade h4 {
    color: white;
}

.quem-somos-areas-especialidade .dt-sc-title.with-two-border h2:before,
.quem-somos-areas-especialidade .dt-sc-title.with-two-border h2:after {
    background: white;
}

.quem-somos-areas-especialidade .dt-sc-icon-box.type5 p {
    color: #b1b1b1;
}

.vcr_bottom-content {
    padding: 0 0 7px !important;
}

.footer-copyright-2 {
    padding-top: 16px;
    color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
    padding: 60px 0 20px !important;
}

.main-title-section h1 {
    color: white !important;
}

ul.side-nav li a:after {
    background: #ec0000 !important;
}

ul.side-nav li a:hover {
    color: white !important;
}

#toTop {
    display: none !important;
}

ul li {
    padding-bottom: 0 !important;
}.header-align-center .main-header #logo a img

.services-list ul {
    margin-left: 50px;
}

ul.side-nav > li.current_page_item > a {
    color: red !important;
}

ul.side-nav > li.current_page_item > a:hover {
    color: white !important;
}

div.pp_default .pp_description {
    font-size: 18px !important;
    margin: 9px 50px 5px 0 !important;
}

.dt-sc-contact-info a {
    color: white;
}

.dt-sc-contact-info.type3 {
    color: #c1c1c1;
}

.search {
    display: none !important;
}